@using SalesWebMvc.Models.ViewModels
@{
    ViewData["Title"] = "Oops! Something went wrong...";
}
<style>
    .error-container {
        margin: auto;
        align: center;
        padding: 20px;
        width: 90%;
        max-width: 600px;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .error-container img {
        width: 100px;
    }

    .error-details {
        margin-top: 20px;
    }

    .error-details strong {
        color: #555;
        font-family: 'Courier New', monospace;
        padding: 3px 8px;
        border-radius: 5px;
    }
</style>

<body>
    <div class="error-container">
        <img src="https://cdn-icons-png.flaticon.com/512/189/189665.png" alt="Error Image">
        <h1>@ViewData["Title"]</h1>
        <p>@Model.Message</p>
        @if (Model.ShowRequestId)
        {
            <div class="error-details">
                <strong>ID da Requisição:</strong> <span>@Model.RequestId</span>
            </div>
        }
    </div>
</body>
