@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
<div class="container mt-5">
    <h1>Welcome to the ASP.NET Core MVC Web Application!</h1>
    <img src="https://i.pinimg.com/736x/21/51/1c/21511c00fad384e2f2427f88dd759f14.jpg" class="img-fluid my-4"
        alt="Black Friday Sale" style="display: block; margin: 0 auto;" />
    <p class="value-p">This project is a demonstration of a robust web application built using the latest technologies
        in .NET
        development. Below is an overview of the project's structure and its features.</p>

    <h2>Project Overview</h2>
    <p class="value-p">This web application is developed with <strong>ASP.NET Core MVC</strong>, utilizing
        <strong>Entity
            Framework</strong> for ORM operations and <strong>Bootstrap 5</strong> for responsive design. It showcases
        CRUD operations, relational database integration, and modern web development practices.
    </p>

    <h2>Key Features</h2>
    <ul>
        <li class="value-li"><strong>MVC Architecture:</strong> Clear separation of concerns is achieved through the use
            of models,
            views, and controllers.</li>
        <li class="value-li"><strong>Database Integration:</strong> Uses MySQL for database management, with Entity
            Framework Core
            managing migrations and CRUD operations.</li>
        <li class="value-li"><strong>Responsive Design:</strong> Crafted with Bootstrap 5 to ensure that the application
            is accessible on
            various devices.</li>
        <li class="value-li"><strong>Asynchronous Programming:</strong> Implements async and await for efficient
            database operations.
        </li>
    </ul>

    <h2>How to Run the Project</h2>
    <p class="value-p">Clone the repository from GitHub and run the application using the following commands:</p>
    <pre>
        git clone <a href="https://github.com/evertondavid/Sales-Web-MVC.git">Click Here</a>
    </pre>
    <h2>Contributing</h2>
    <p class="value-p">Contributions to enhance the application are welcomed. Please fork the repository and submit pull
        requests with
        your improvements.</p>

    <p>For more details and to view the source code, visit the <a
            href="https://github.com/evertondavid/Sales-Web-MVC">GitHub repository</a>.</p>
    </p>
    <footer>
        <p>© 2024 - SalesWebMVC. Licensed under the MIT License.</p>
    </footer>
</div>

<div class="text-center">
    <p>Learn more about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
