// C# code
@{
    ViewData["Title"] = "Privacy Policy";
}
// HTML code
<h1>@ViewData["Title"]</h1>
</br>
<h2>@ViewData["Message"]</h2>
</br>
<p>Use this page to detail your site's privacy policy.</p>
</br>
<p>@ViewData["Email"]</p>
