html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.custom-danger-button {
  background-color: rgb(220, 53, 69);
  /* Vermelho */
  padding: 10px 20px;
  /* Ajuste o padding para alcançar a altura desejada */
  font-size: 16px;
  /* Garanta que o tamanho da fonte seja adequado */
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: inline-block;
  /* Isso ajuda a alinhar corretamente o link */
  transition: background-color 0.3s ease;
}

.custom-danger-button:hover {
  background-color: rgb(200, 35, 51);
  /* Vermelho escuro para hover */
}

.custom-danger-button:active {
  background-color: rgb(180, 25, 41);
  /* Vermelho mais escuro para ativo */
}

.custom-button {
  background-color: rgb(42, 82, 190);
  padding: 10px 20px;
  /* Ajuste o padding para alcançar a altura desejada */
  font-size: 16px;
  /* Garanta que o tamanho da fonte seja adequado */
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: inline-block;
  /* Isso ajuda a alinhar corretamente o link */
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: rgb(22, 62, 170);
  /* Mais escuro para hover do botão azul */
}

.custom-button:active {
  background-color: rgb(12, 52, 160);
  /* Ainda mais escuro para o estado ativo */
}

.value-dd {
  color: white;
}

.value-p {
  color: white;
}

.value-li {
  color: white;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}